<div>
    <h1>Profile Page</h1>
    <hr>

    <h3>Wellcome, {{ user.name }}</h3>
    
    <h6>Account logged: {{user.email}}</h6>

    <hr>
    <a href="/api/products"><button>View products list.</button></a>
    <a href="/api/session/logout"><button>Logout</button></a>
</div>